body{
    background-color: rgba(236, 231, 231, 0.9);
}

.container{
    max-width: 800px;
    margin: auto 60px;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    background-color: #ffffff;
}
h1{
    color: purple;
}